@font-face {
    font-family: Monstserrat;
    src: url('./font/Montserrat-Medium.ttf');
}

@font-face {
    font-family: Monstserrat-bold;
    src: url('./font/Montserrat-Bold.ttf');
}


body {
    font-family: Monstserrat;
}

.mont {
    font-family: Monstserrat;
}
.mont-bold{
    font-family: Monstserrat-bold;
}



.nav-link {
    color: rgb(29, 66, 138) !important;
}

.navbar-brand{
    color: rgb(200, 16, 46) !important;
}
.nba-red{
    background-color: rgb(200, 16, 46) !important;
}
/* Add your own CSS under here */
.carousel-item img {
    max-width: 100%;
    height: auto;
}

.navbar-custom {
    background-color: rgb(29, 66, 138);
}

.navbar-index {
    margin-bottom: -60px;
    z-index: 4;
}

body {
    /* margin-top: 100px;
    color: green; */
    /* background-color: grey; */
}

.test {
    color: blue;
    background-color: black;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C9082A' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23C9082A' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
}

/* .my-caption{
    
    margin-left: 300px;
    margin-top: -150px;
    text-align: center;
    text-justify: center;
    color: red;
    
} */
/* .carousel-caption{
    color: green;
    margin-top: -1120px;
    margin-left: -120px;
} */
/* h5{
    color: green;
} */
.carousel {
    background-color: white;
    color: black;
}

.card-img-top {
    width: 100%;
    height: 20vw;
    object-fit: cover;
}

/* body {
    padding-top: 50px;
    padding-bottom: 20px;
} */

.carousel img {
    top: 0;
    left: 0;
    min-width: 100%;
    height: 550px;
    max-height: 550px;
    width: auto;
}



/* forms */
.register-photo {
    background: #f1f7fc;
    padding: 80px 0;
  }
  
  .register-photo .image-holder {
    display: table-cell;
    width: auto;
    background: url(https://i.imgur.com/Fqm9rWL.jpg);
    background-size: cover;
  }
  
  .register-photo .form-container {
    display: table;
    max-width: 900px;
    width: 90%;
    margin: 0 auto;
    box-shadow: 1px 1px 5px rgba(0,0,0,0.1);
  }
  
  .register-photo form {
    display: table-cell;
    width: 400px;
    background-color: #ffffff;
    padding: 40px 60px;
    color: #505e6c;
  }
  
  @media (max-width:991px) {
    .register-photo form {
      padding: 40px;
    }
  }
  
  .register-photo form h2 {
    font-size: 24px;
    line-height: 1.5;
    margin-bottom: 30px;
  }
  
  .register-photo form .form-control {
    background: transparent;
    border: none;
    border-bottom: 1px solid #dfe7f1;
    border-radius: 0;
    box-shadow: none;
    outline: none;
    color: inherit;
    text-indent: 0px;
    height: 40px;
  }
  
  .register-photo form .form-check {
    font-size: 13px;
    line-height: 20px;
  }
  
  .register-photo form .btn-primary {
    background: green;
    border: none;
    border-radius: 4px;
    padding: 11px;
    box-shadow: none;
    margin-top: 35px;
    text-shadow: none;
    outline: none !important;
  }
  
  .register-photo form .btn-primary:hover, .register-photo form .btn-primary:active {
    background: green;
  }
  
  .register-photo form .btn-primary:active {
    transform: translateY(1px);
  }
  
  .register-photo form .already {
    display: block;
    text-align: center;
    font-size: 12px;
    color: #6f7a85;
    opacity: 0.9;
    text-decoration: none;
  }